body{
	background-color: #282A36;
	font-family: sans-serif ;
	margin-bottom: 10%;
}

.div_center{
	margin: auto;
	width: 40%;
}
.image_center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: #f8f8f2;
	text-align: center;
}
p{
	color: #f8f8f2;
}
